{
  "presets": [
    ["env", {
      "targets": {
        "browsers": [
          "last 2 version", 
          "not last 2 ie version",
          "last 1 ie version"
        ]
      },
      "useBuiltIns": true
    }],
    "stage-2",
    "react",
    "flow"
  ]
}
