{
  "presets": [
    ["env", { 
      "targets": {
        "node": "8.9.0"
      }
    }], 
    "react", 
    "flow"
  ],
  "plugins": [
    "syntax-dynamic-import",
    "transform-class-properties",
    "transform-es2015-classes",
    "transform-object-rest-spread"
  ],
  "env": {
    "test": {
      "presets": ["env", "react", "flow"]
    }
  }
}
